:root {
  --main: rgb(31, 29, 29);
  --dark-accent: rgb(0, 0, 0)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dark-accent);
  color: rgb(255, 255, 255);
}

header {
  position: fixed;
  width: 100%;
}

.navBar {
  background-color: var(--main);
  display: flex;
  justify-content: center;
  height: 3%;
}

.btn {
  background-color: red;
  position: relative;
  top: 45%;
  left: 20%;
  border-radius: 25%;
  padding: 10px;
  margin: 15px;
}

.btn:hover {
  background-color: var(--dark-accent);
  cursor: pointer;
}

.submitbtn {
  background-color: var(--main);
  position: relative;
  top: 45%;
  width: 4%;
  border-radius: 10%;
  margin: 15px 0;
}

.submitbtn:hover {
  background-color: var(--dark-accent);
  cursor: pointer;
}

.navBar input {
  position: relative;
  flex-basis: 20%;
  height: 45px;
  border-radius: 10%;
  border: none;
  margin: 15px 0;
}

.sideNav {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 55rem;
  width: 80px;
  margin-top: 60px;
}

.sideNav a {
  background-color: var(--main);
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 15px 0px;
  padding: 5px;
}

.sideNav a:hover {
  background-color: var(--dark-accent);
  cursor: pointer;
}

.fas {
  font-size: 25px;
  background-color: var(--main);
}

.output {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: -1;
}

.imgStyle {
  align-content: center;
  justify-content: start;
  text-align: center;
  width: 300px;
  height: 255px;
  flex-basis: auto;
  margin: 5px;
  cursor: pointer;
}

.imgStyle:hover {
  cursor: pointer;
}